.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1240px;
}

.main {
  padding-top: 170px;
  text-align: center;
}
.theme {
  display: inline-block;
  margin: 0 auto;
  border: solid black 4px;
  border-radius: 10px;
  padding: 5px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
  transition: all 0.2s ease-in;
}
.news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}
.article {
  display: block;
  margin: 10px;
  padding: 50px 10px;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-decoration: none;
  transition: all 0.2s ease-in;
}
.article:hover {
  background-color: rgba(0,0,0,0.02);
}
.date {
  color: rgba(0,0,0,0.2);
  font-size: 20px;
}
.title {
  color: #222;
  margin: 10px 0;
}
.publisher {
  color: #5895ff;
  font-size: 20px;
}

@media (max-width: 640px) {
  .news {
    grid-template-columns: 1fr;
  }
  .article {
    padding: 30px 10px;
  }
}